CompareCollections/.vs/CompareCollections/FileContentIndex/0d46698c-2395-46c4-8f1f-ab18bb6e4348.vsidx
CompareCollections/.vs/CompareCollections/FileContentIndex/4c4a47e2-1aec-4316-bae9-2b6d6d19d464.vsidx
CompareCollections/.vs/CompareCollections/FileContentIndex/5e6891f2-801f-465c-82ed-7fd29e55cfe6.vsidx
CompareCollections/.vs/CompareCollections/FileContentIndex/8d9db015-f096-4bdf-a0f5-d2afe0847057.vsidx
CompareCollections/.vs/CompareCollections/FileContentIndex/a9ae4f5c-022e-4dd0-9000-f08a85330900.vsidx
CompareCollections/.vs/CompareCollections/v17/.suo
CompareCollections/.vs/CompareCollections/v17/DocumentLayout.json
CompareCollections/CompareCollections/bin/Debug/CompareCollections.exe
CompareCollections/CompareCollections/bin/Debug/CompareCollections.exe.config
CompareCollections/CompareCollections/bin/Debug/CompareCollections.pdb
CompareCollections/CompareCollections/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CompareCollections/CompareCollections/obj/Debug/CompareCollections.csproj.AssemblyReference.cache
CompareCollections/CompareCollections/obj/Debug/CompareCollections.csproj.CoreCompileInputs.cache
CompareCollections/CompareCollections/obj/Debug/CompareCollections.csproj.FileListAbsolute.txt
CompareCollections/CompareCollections/obj/Debug/CompareCollections.exe
CompareCollections/CompareCollections/obj/Debug/CompareCollections.pdb
CompareCollections/CompareCollections/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CompareCollections/CompareCollections/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
